body {
  padding: 10px;
  font-family: sans-serif;
  background-color: aqua !important;
  
}


.icons {
  font-size: .65em;
  cursor: pointer;
}

.iconEdit {
  color: green;
}

.iconDel {
  color: red;
}

.button{
  
  text-align: center;
}

.imgFrame {
  height: 200px;
}
